* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide Scrollbars */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth; /* 平滑滾動 */
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

/*Font*/
@font-face {
    font-family: 'ABCDiatypeSemi-Mono';
    src: url(font/ABCDiatypeSemi-Mono-Regular.otf);
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: white;
    background-color: black;
}


body {
    font-family: 'ABCDiatypeSemi-Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    user-select: none;
}

/*App Icon*/
.icon {
    width: 80px;
    height: 80px;
    background-color: #f7f7f7;
    border-radius: 20px;
    cursor: ew-resize;
}


/*Container*/
.container {
    width: 360px;
    height: 360px;
    background-color: #f7f7f7;
    border-radius: 28px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.container-group {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

/*Layout*/
.horizontal-line {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}


.vertical-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75em;
}

.footer {
    color: #808080;
}

/*Dark Mode*/
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode .icon {
    background-color: #1c1c1c;
}

body.dark-mode .container {
    background-color: #1c1c1c;
}

body.dark-mode a {
    color: #ffffff;
}

body.dark-mode a:hover {
    color: #000000;
    background-color: #ffffff;
}

body.dark-mode .icon svg path {
    fill: #ffffff;
}

